body {
  background-color: #f0f0f0;
  padding-top: 60px;
}

a {
  color: #11acb8;
}

.bg-purple {
  background-color: #7e21d4;
}

.navbar-brand>img {
  height: 42px;
}

.ds {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
  background-color: rgba(248, 249, 250, 1) ;
}

.parallax { 
  background-image: url("../img/jumbogroup.png");
  background-attachment: fixed;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.raised {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 40px;
}

.top-buffer {
  padding-top: 20px;
}

.footer-style{
  display: block;
  text-align: center;
  margin-top: 100px;
  background: #E3E3E3;
  padding: 12px;
}

#modal-caption {
	background: white;
	margin: auto;
}

#gallery ~ p img {
	max-height: 300px;
	cursor: pointer;
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: .25rem;
	padding: 10px;
}
#gallery ~ p img:hover{
  opacity: 0.8;
}
.modal-dialog {
	max-width: 600px;
}

#about {
	/* Hide the "About" heading - it isn't necessary. */
	/* Its presence, however, affects the styles of subsequent elements. */
	display: none;
}
#about ~ ul {
	list-style: none;
	display: flex;
	padding: 0;
	text-align: left;
}
#about ~ ul ul {
	padding: 0;
}
#about ~ ul li {
	margin: 0 10px;
}
#about ~ ul img {
	max-width: 325px;
}
#about ~ ul ul li {
	list-style: none;
	margin-bottom: 1em;
}
#about ~ ul ul ul li {
	list-style: disc;
	margin-bottom: 0.5em;
}
#about-devicat {
	/* This one looks better with the heading centered. */
	text-align: center;
}

#goals ~ p img {
	width: 1.5em;
}
#goals ~ ul img {
	width: 1.25em;
}
#goals ~ ul {
	text-align: left;
	list-style: none;
	font-size: 125%;
}
#goals ~ ul ul {
	list-style: none;
}

#characters ~ p img {
	width: 1.25em;
}
#characters ~ ul {
	text-align: left;
}

/* TODO: Unify some of the similar blocks. Particularly the character
pages, which should all be styled the same way. Maybe adjust the layout? */
#momoko ~ ul {
	text-align: left;
	list-style: none;
}
