body {
  background-color: #f0f0f0;
  padding-top: 60px;
}

a {
  color: #11acb8;
}
div ul{
	padding: 10px;
}

.bg-purple {
  background-color: #7e21d4;
}

.navbar-brand>img {
  height: 42px;
}

.ds {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
  background-color: rgba(248, 249, 250, 1) ;
}

.parallax { 
  background-image: url("../img/jumbogroup.png");
  background-attachment: fixed;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.raised {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 40px;
}

.top-buffer {
  padding-top: 20px;
}

.footer-style{
  display: block;
  text-align: center;
  margin-top: 100px;
  background: #E3E3E3;
  padding: 12px;
}

#modal-caption {
	background: white;
	margin: auto;
}

li {
	text-align: left;
	list-style: none;
}
ul.bulleted li {
	list-style: disc;
}
ul.sparkles li:before, #art-tips ~ h3:before {
	display: inline-block;
	content: url("https://s.w.org/images/core/emoji/2.2.1/svg/2728.svg");
	position: relative;
	top: 0.3333em; left: -0.33333em;
	margin-left: 0.4em;
	margin-top: -0.25em;
	width: 1.5em;
}

.hearts:before, .hearts:after {
	display: inline-block;
	content: url("https://s.w.org/images/core/emoji/2.2.1/svg/1f49c.svg");
	position: relative;
	top: 0.5em; left: -0.25em;
	margin-left: 0.4em;
	margin-top: -0.25em;
	width: 1.5em;
}

#gallery ~ p img {
	max-height: 300px;
	cursor: pointer;
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: .25rem;
	padding: 10px;
}
#gallery ~ p img:hover{
  opacity: 0.8;
}
.modal-dialog {
	max-width: 600px;
}

h1#about, h1#home {
	/* Hide the "Home" and "About" headings - they aren't necessary. */
	/* Their presence, however, affect the styles of subsequent elements. */
	display: none;
}
#about ~ ul {
	display: flex;
	padding: 0;
}
#about ~ ul ul {
	padding: 0;
}
#about ~ ul li {
	margin: 0 10px;
}
#about ~ ul img {
	max-width: 325px;
}
#about ~ ul ul li {
	margin-bottom: 1em;
}
#about ~ ul ul ul li {
	margin-bottom: 0.5em;
}
#about-devicat {
	/* This one looks better with the heading centered. */
	text-align: center;
}

/* Some large SVGs get 'marked small' with asterisks - they're basically emoji. */
em img {
	width: 1.5em;
}
#goals ~ ul {
	font-size: 125%;
}

/* All the character pages follow the same pattern and styling */
/* .character-cat ul {
	text-align: left;
	list-style: none;
} */

#art-tips ~ h3 {
	text-align: left;
}
#art-tips ~ p {
	text-align: left;
}

.jumbotron {
	display: flex;
}

.jumbotron div {
	margin: 0 auto;
}

#twitch-embed iframe {
	width: 768px;
	height: 432px;
}

#home ~ ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

#home ~ ul img {
	width: 344px;
}

#home ~ ul li {
	border: 1px solid #ddd;
	border-radius: .25rem;
	margin: 10px;
	text-align: center;
}
a.btn {
	/* "Click Here" buttons on the home page */
	display: inline-block;
	font-weight: bold;
	text-align: center;
	padding: .375rem .75rem;
	line-height: 1.5;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: white;
	background-color: #00d1c5;
}

#twitch-sub-benefits ~ p {
	text-align: left;
}

#twitch-channel-info ~ p {
	text-align: left;
}

#contact ~ p {
	text-align: left;
}
#contact ~ p a {
	font-weight: bold;
}
#contact ~ ul a {
	font-weight: bold;
}
