body {
  background-color: #f0f0f0;
  padding-top: 60px;
}

a {
  color: #11acb8;
}

.bg-purple {
  background-color: #7e21d4;
}

.navbar-brand>img {
  height: 42px;
}

.ds {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
  background-color: rgba(248, 249, 250, 1) ;
}

.parallax { 
  background-image: url("../img/jumbogroup.png");
  background-attachment: fixed;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.raised {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 40px;
}

.top-buffer {
  padding-top: 20px;
}

.footer-style{
  display: block;
  text-align: center;
  margin-top: 100px;
  background: #E3E3E3;
  padding: 12px;
}

#modalImg:hover{
  opacity: 0.8;
}

.modal-body{
  padding:0;
}