<!doctype html>
<html lang="en">
  <head>
    <title>DeviCat Outlet</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v1/819883/3.0">

  </head>

  <body class="{{ page.category | default: "devi" }}-cat">

    <!-- Navigation -->
    <nav class="navbar-expand-md navbar-light">
      <a href="/"><img src="img/newmainbanner.png" alt="DeviCat"></a>

      <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto layout">
          {%- for dest in site.nav %}{%- for info in dest -%}
            {%- if info[1] -%}
              {%- assign name = info[0] -%}
              {%- assign url = info[1] -%}
            {%- else -%}
              {%- assign name = dest -%}
              {%- assign url = dest | downcase | replace: " ", "" -%}
            {%- endif -%}
	    {% assign active = "" %}{% assign current = "" %}
            {%- if page.title == name %}{% assign active = " active" %}{% assign current = '<span class="sr-only">(current)</span>' %}{% endif %}
            <li class="nav-item {{active}}">
            {%- if info[1].first -%}
              {%- comment %} It's an array of subpages (eg Characters) {% endcomment %}
	      {%- assign url = name | downcase | replace: " ", "" %}
              <a class="nav-link nav-dropdown" href="{{ url }}" id="dropdown-{{ url }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ name }}{{current}}</a>
              <div class="nav-submenu" aria-labelledby="dropdown-{{ url }}">
	        {%- for subdest in info[1] -%}
		  {%- assign url = subdest | downcase | replace: " ", "" | replace: ",", "-" %}
                  <a href="{{ url }}">{{ subdest }}</a>
	        {%- endfor %}
              </div>
            {%- else -%}
              {%- comment %} It's a single page (maybe with a specified URL) {% endcomment %}
              <a class="nav-link" href="{{ url }}">{{ name }}{{ current }}</a>
            {%- endif %}
            </li>
          {%- endfor %}{% endfor %}
        </ul>
      </div>
    </nav>
    {% if page.title == "Home" %}
    <section class="jumbotron text-center parallax">
      <h2 class="sr-only">Embedded Twitch stream</h2>
      <div></div>
      <div id="twitch-embed"></div>
      <div>
        <a href="https://www.patreon.com/devicatoutlet"> <img src="img/patreon.png" alt=""></a><br>
        <a href="https://discord.gg/devicat"> <img src="img/discord.png" alt=""></a>
      </div>
      <div></div>
    </section>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script>
      new Twitch.Embed("twitch-embed", {
        width: 1280,
        height: 720,
        channel: "devicat",
        layout: "video",
      });
    </script>
    {% endif %}

  <div>
    <div class="container raised">
      {% if page.Character %}
      <h1>{{ page.Character }}</h1>
      {% if page.Subtitle %}<h1>({{ page.Subtitle }})</h1>{% endif %}
      <ul class="char-info layout">
      {% for info in page.Info %}<li><strong>{{ info[0] }}:</strong> {{ info[1] }}</li>{% endfor %}
      </ul>
      {% endif %}
      {{ content }}
    </div>
  </div>

<div id=fader></div>
<div id="popup"><div><img src="https://static-cdn.jtvnw.net/emoticons/v1/819883/3.0" alt="[placeholder]"><div id="popup-caption"></div></div></div>




    <!-- Footer -->
    <footer class="text-muted">
        <div class="container">
            <div class="row justify-content-center">
                <p>
                    <a href="https://twitch.tv/DeviCat"><i class="fab fa-twitch fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/devicatoutlet/"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/DeviCatOutlet"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/DeviCatTV"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
                    <a href="https://discord.gg/devicat"><i class="fab fa-discord fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.patreon.com/devicatoutlet"><i class="fab fa-patreon fa-2x" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                    <p> &copy; DeviCat Outlet 2018 </p>
            </div>
        </div>
    
    </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
<script>
document.querySelectorAll('#gallery ~ p img').forEach(img => img.onclick = function(ev) {
	document.querySelector('#popup img').src = this.src;
	//document.getElementById('#modal-caption').textContent = this.alt; //TODO: Style these up nicely and then enable them
	document.documentElement.classList.add("show-modal");
	ev.stopPropagation();
});
document.querySelectorAll('.nav-dropdown').forEach(a => a.onclick = function(ev) {
	//Collapse other dropdowns, and toggle this one (so there's a max of one open at a time)
	document.querySelectorAll('.nav-dropdown').forEach(a => a != this && a.setAttribute('aria-expanded', 'false'));
	this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') != "true");
	ev.stopPropagation(); ev.preventDefault();
});
document.documentElement.onclick = function() {
	this.classList.remove("show-modal");
	document.querySelectorAll('.nav-dropdown').forEach(a => a.setAttribute('aria-expanded', 'false'));
}
</script>
</body>
</html>
