<!doctype html>
<html lang="en">
  <head>
    <title>DeviCat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montez&family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/307350032/default/light/3.0">

	  <!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '63308');
</script>
<!-- End MailerLite Universal -->
  </head>

  <body class="{{ page.category | default: "devi" }}-cat">

    <!-- Navigation. -->
    <!-- Hamburger menu styling and technique inspired by https://codepen.io/erikterwan/pen/EVzeRP by Erik Terwan and made available under the terms of the MIT license -->
    <nav>
      <input type=checkbox>
      <div id=raptor_button><div></div><div></div><div></div></div>
      <a class=keep href="/">HOME</a>
      <div style="flex-grow: 1"></div>
      {%- for dest in site.nav %}{%- for info in dest -%}
        {%- if info[1] -%}
          {%- assign name = info[0] -%}
          {%- assign url = info[1] -%}
        {%- else -%}
          {%- assign name = dest -%}
          {%- assign url = dest | downcase | replace: " ", "" -%}
        {%- endif -%}
        {% assign active = "" %}{% assign current = "" %}
        {%- if page.title == name %}{% assign active = " active" %}{% assign current = '<span class="screenreader">(current)</span>' %}{% endif %}
        {%- if info[1].first -%}
          {%- comment %} It's an array of subpages (eg Characters) {% endcomment %}
          {%- assign url = name | downcase | replace: " ", "" %}
          <div class="nav-menucontainer">
            <a class="nav-dropdown {{active}}" href="{{ url }}" id="dropdown-{{ url }}" role="button" aria-haspopup="true" aria-expanded="false">{{ name }}{{current}}</a>
            <div class="nav-submenu" aria-labelledby="dropdown-{{ url }}">
              {%- for subdest in info[1] -%}{%- for subinfo in subdest -%}
	        {%- if subinfo[1] -%}
		  {%- assign subname = subinfo[0] -%}
                  {%- assign suburl = subinfo[1] -%}
                {%- else -%}
                  {%- assign subname = subinfo -%}
                  {%- assign suburl = subinfo | downcase | replace: " ", "" -%}
                {%- endif -%}
                <a href="{{ suburl }}">{{ subname }}</a>
              {%- endfor -%}{%- endfor %}
            </div>
          </div>
        {%- else -%}
          {%- comment %} It's a single page (maybe with a specified URL) {% endcomment %}
          <a class="{{active}}" href="{{ url }}">{{ name }}{{ current }}</a>
        {%- endif %}
      {%- endfor %}{% endfor %}
    </nav>

  <main>
      {% if page.Character %}
      <h1>{{ page.Character }}</h1>
      {% if page.Subtitle %}<h1>({{ page.Subtitle }})</h1>{% endif %}
      <ul class="layout">
      {%- for info in page.Info %}
        <li><strong>{{ info[0] }}:</strong> {% if info[1].first -%}
        {% for link in info[1] %}{% unless forloop.first %} | {% endunless %}{% for item in link -%}
	  <a href="{{ item[1] }}">{{ item[0] }}</a>
	{%- endfor %}{% endfor -%}
        {%- else -%}
        {{ info[1] }}
        {%- endif -%}
        </li>
      {%- endfor %}
      </ul>
      {% endif %}
      {{ content }}
  </main>

<div id=fader></div>
<div id="popup"><figure><figcaption></figcaption><img src="https://static-cdn.jtvnw.net/emoticons/v2/307350032/default/light/3.0" alt="[placeholder devicatLove]" role="presentation"></figure></div>

<footer>
  <p>
    <a href="https://www.cara.app/devicat" title="Cara: devicat"><img src="/img/caralogo.png" alt="Cara: devicat"></a>
    <a href="https://www.discord.gg/devicat" title="Discord: DeviCat"><img src="/img/discordlogo.png" alt="Discord: devicat"></a>
    <a href="https://www.facebook.com/devicat.artist" title="Facebook: DeviCat.Artist"><img src="/img/fblogo.png" alt="Facebook: DeviCat.Artist"></a>
    <a href="https://www.devicat-shop.fourthwall.com" title="Fourthwall: DeviCat"><img src="/img/fwlogo.png" alt="Fourthwall: DeviCat"></a>
    <a href="https://www.instagram.com/devicat.art" title="Instagram: DeviCat.Art"><img src="/img/iglogo.png" alt="Instagram: DeviCat.Art"></a>
    <a href="https://www.ko-fi.com/devicat" title="Ko-fi: DeviCat"><img src="/img/kofilogo.png" alt="ko-fi: DeviCat"></a>
    <a href="https://www.redbubble.com/people/devicatoutlet/shop" title="redbubble: DeviCatOutlet"><img src="/img/redbubbleicon.png" alt="redbubble: DeviCatOutlet"></a>
    <a href="https://www.tiktok.com/@devicat.art" title="Tiktok: DeviCat"><img src="/img/tiktoklogo.png" alt="Tiktok: DeviCat"></a>
    <a href="https://www.twitch.tv/devicat" title="Twitch: DeviCat"><img src="/img/twitchlogo.png" alt="Twitch: DeviCat"></a>
    <a href="https://www.twitter.com" title="Twiter: DeviCatArt"><img src="/img/twitterlogo.png" alt="Twitter: DeviCatArt"></a>
    <a href="https://www.youtube.com/@devicatart" title="YouTube: DeviCatArt"><img src="/img/youtubelogo.png" alt="YouTube: DeviCatArt"></a>
  </p>
  <p>&copy; DeviCat 2024</p>
</footer>
<script>
const gallery = {};
document.querySelectorAll('#gallery ~ p img').forEach(img => {
	const imgname = "#" + /img\/(.*)\.(png|jpg|jpeg)$/.exec(img.src)[1];
	img.onclick = gallery[imgname] = function(ev) {
		document.querySelector('#popup img').src = img.src;
		document.querySelector('#popup figcaption').textContent = img.alt;
		document.documentElement.classList.add("show-modal");
		history.replaceState(this.src, "", imgname);
		if (ev) ev.stopPropagation();
	};
});
const f = gallery[window.location.hash]; if (f) f(); //If the page has a valid hash link in it, open up that gallery image.
document.querySelectorAll('.nav-dropdown').forEach(a => a.onclick = function(ev) {
	//Collapse other dropdowns, and toggle this one (so there's a max of one open at a time)
	document.querySelectorAll('.nav-dropdown').forEach(a => a != this && a.setAttribute('aria-expanded', 'false'));
	this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') != "true");
	ev.stopPropagation(); ev.preventDefault();
});
document.documentElement.onclick = function(ev) {
	this.classList.remove("show-modal");
	document.querySelectorAll('.nav-dropdown').forEach(a => a.setAttribute('aria-expanded', 'false'));
	if (location.hash.length > 1) history.replaceState("", "", location.pathname);
	//Also collapse the Raptor menu (applicable only on narrow screens) if you click outside nav
	if (!ev.target.closest("nav")) document.querySelector("nav input").checked = false;
}
</script>
</body>
</html>
